body{
    height:100vh;
    align-items: center;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: rgb(37, 37, 30);
}



#calc{
    font-family:sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 700px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: black;
    font-size: 70px;
    text-align: left;
    color: white;

}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}



button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(65, 63, 63);
    color: white;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(65, 63, 63,0.6); 
}

button:active{
    background-color: rgba(172, 170, 170, 0.6); 
}

.orangeBtn{
    background-color: rgb(255, 145, 0);
}

.orangeBtn:hover{
    background-color: rgb(255, 175, 2);

}

.orangeBtn:active{
    background-color:white;
    color: black;
}

